body {
    background-color: lightpink;
    color: #2E0E51;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* escrevemos "." para chamar uma class*/
/* esse .link text-decoration é pra tirar as underline dos icones de cima que aparece por ele ser um link: */

*{
    box-sizing: border-box;
}
/* o * aplica para todos */

.main {
    padding: 66px 230px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* min height faz com que a tela ocupe o espaço inteiro (no caso de 100). VH= viewport height */
}
.link{
    text-decoration: none;
}

.icon{
    width: 32px;
    height: auto;

}
/* a largura ta auto pra ela ajustar automatico */

.profile-picture {
    width: 400px;
    height: 400px;
}

.title{
    font-weight: 500;
    font-size: 48px;
    color:#2E0E51;
    margin: 0;

}

.subtitle{
    font-weight: 500;
    color: purple;
    font-size: 24px;
    margin: 0;

}

.text {
    max-width: 511px;
}

.button {
    background-color: #2E0E51;
    color: white;
    cursor: pointer;
    /* pra tirar a borda preta em volta do botão: */
    border: none;
    font-size: 24px;
    /* padding: espaço entre a letra e o butao, sendo na ordem: de cima, direita, pra baixo, esquerda (escrever sem virgula): */
    padding: 16px 12px;
    /* como ia repetir mais um 16 e mais um 12, ele volta pro 16 e pro 12 de novo entao nao precisa escrever. */
    /* border-radius: a ponta fica redondinha */
    border-radius: 4px;
    display: flex;
    /* display flex permite algumas outras coisas, como o gap abaixo */
    align-items: center;
    gap: 16px;
    /* gap é o espaço entre a frase do botao e o icone */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    /* rbga: red, green, blue, e o A é transparencia, os numeros significam cada um na ordem */
    font-family: inherit;
    /* inherit significa que ele herda a fonte do body */
}

.lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 36px;
        align-items: center;
        justify-content: flex-end;
    }

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 54px;
        flex-direction: row;
        flex-grow: 1;
        }

.descriptionWrapper {
       
    }

    